
.progressBar{
    width: 100%;
    appearance: none;
   }
   
   
   /* WebKit-based browsers */
   .progressBar::-webkit-progress-bar {
       background-color: black;
       border-radius: 5px;
       height: 8px;
     }
     
     .progressBar::-webkit-progress-value {
       background-color: rgb(0, 255, 234);
       border-radius: 5px 0 0 5px;
       height: 8px;
       transition: width 0.2s ease;
     }
     
     /* Firefox */
     .progressBar::-moz-progress-bar {
       background-color: rgb(0, 255, 234);
       border-radius: 5px;
       height: 8px;
       transition: width 0.2s ease;
     }
     
     /* For all other browsers */
     .progressBar::-ms-fill {
       background-color: rgb(0, 255, 234);
       border-radius: 5px;
       height: 8px;
       transition: width 0.2s ease;
     }

     
     .progressBarCoolDown::-webkit-progress-value {
       background-color: rgb(225, 255, 0);
     }
     
     /* Firefox */
     .progressBarCoolDown::-moz-progress-bar {
       background-color: rgb(225, 255, 0);
     }
     
     /* For all other browsers */
     .progressBarCoolDown::-ms-fill {
       background-color: rgb(225, 255, 0);
     }


     .progreesBarCorrect::-webkit-progress-value {
       background-color: rgb(99, 240, 127);
     }
     
     /* Firefox */
     .progreesBarCorrect::-moz-progress-bar {
       background-color: rgb(99, 240, 127);
     }
     
     /* For all other browsers */
     .progreesBarCorrect::-ms-fill {
       background-color: rgb(99, 240, 127);
     }

     
     .progressBarIncorrect::-webkit-progress-value {
       background-color: rgb(250, 69, 69);
     }
     
     /* Firefox */
     .progressBarIncorrect::-moz-progress-bar {
        background-color: rgb(250, 69, 69);
     }
     
     /* For all other browsers */
     .progressBarIncorrect::-ms-fill {
        background-color: rgb(250, 69, 69);
    }